<html xmlns="http://www.w3.org/1999/xhtml">
<head>
    <title>Iniciar Sesión</title>
    <link href="~/vendor/fontawesome-free/css/sesion.css" rel="stylesheet" />
</head>
<body>
    <div class="body"></div>
    <div class="grad"></div>
    <div class="header">
        <div><span>Iniciar Sesión</span></div>
    </div>
    <br>
    <div class="login">
        <input id="usuario" type="text" placeholder="Usuario" name="user"><br>
        <input id="pass" type="password" placeholder="Contraseña" name="password"><br>
        <input type="button" id="sesion" value="Iniciar Sesión">
    </div>
    <script src="~/Scripts/jquery-1.10.2.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/sweetalert2@9"></script>
    <script src="~/vendor/fontawesome-free/js/formulario.js"></script>
    <script src="~/Scripts/sesion.js"></script>
</body>
</html>